# Ignore ALL
*

# Allow repo config
!/.gitignore
!/.github/**
!.golangci.yml
!cliff.toml
!build.sh
!cosign.pub
!Dockerfile

# Allow Go
!*.go
!go.sum
!go.mod

# Allow config file assets
!/assets/**

# Allow deez
!README.md
!LICENSE

# ...and allow all that in the subdirs too
!*/

# apple
.DS_Store
